POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payment_service_db
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:postgres@0.0.0.0:5432/payment_service_db
SYNC_DATABASE_URL=postgresql+psycopg2://postgres:postgres@0.0.0.0:5432/payment_service_db

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

HOST=0.0.0.0
PORT=8000

PYTHONPATH=/app/src
API_KEY=11234567890
DEBUG=True
LOG_LEVEL=INFO
